*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    width: 100%;
    background: url(kingdom.jpg) no-repeat center center;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 92vh;
}

a {
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

header {
    text-align: left;
    padding-left: 20px;
    padding-top: 18px;
    background-color: #23232e;;
    color: white;
    height: 60px;
    width: 100%;
}

header h1 {
    font-size: 25px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    height: 8vh;
    font-size: 12px;
    padding-bottom: 24px;
}

h1.logo {
    padding-right: 72vh;
}

.nav-list {
    list-style: none;
    display: flex;
    padding-left: 20px;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 40px;
}

.logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

footer {
    position: absolute;
    width: 100%;
    height: 60px;
    line-height: 58px;
    background-color: #23232e;
    text-align: center;
}


.text-box {
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box {
    font-size: 30px;

}

.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    color: white;
}

.visite-botao{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid;
    border-color: rgb(0, 217, 255);
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

