*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #fff;
}

.toggle {
    font-size: 30px;
    color: white;
    float: left;
    line-height: 45px;
    margin-left: 5%;
    cursor: pointer;
    display: none;
}

nav {
    background-color: #23232e;
    height: 45px;
    width: 100%;
}

ul {
    float: left;
    margin-left: 5%;
}

.socialtop {
    float: right;
    margin-right: 5%;
}

ul li {
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}

ul li a {
    font-size: 12px;
    font-weight: 400;
    line-height: 45px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 15px;
}

ul li:first-child {
    background-color: #111118;
}

ul li:hover{
    background-color: #111118;
    color: #fff;
}

.top-social{
    padding: 14px 15px;
}

.top-social a{
    padding: 13px;
    color: rgb(255, 255, 255);
}

.top-social a:hover{
    color: #a200ff;
}

@media screen and (max-width: 1052px) {
    .toggle{
        display: block
    }
    ul {
        position: fixed;
        top: -400px;
        z-index: -1;
        margin-top: -15px;
        right: 0;
        left: 0;
        width: 200px;
        background-color: #222222;
        display: inline-block;
        transition: top .4s;
        margin-top: 0;
        margin-left: 0;
    }
    ul.show {
        top: 60px;
    }

    ul li{
        top: 0;
        width: 100%;
        float: left;
        text-align: center;
    }
}

@media screen and (max-width: 800px) {
    ul {
        width: 100%;
    }
}